<h1>Your Listings</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Title</th>
    <th>Body</th>
    <th>Submissiondate</th>
    <th>Email</th>
    <th>Contactphone</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listings.each do |listing| %>
  <tr>
    <td><%= listing.category_id %></td>
    <td><%= listing.title %></td>
    <td><%= listing.body %></td>
    <td><%= listing.submissiondate %></td>
    <td><%= listing.email %></td>
    <td><%= listing.contactphone %></td>
    <td><%= listing.status %></td>
    <td><%= link_to 'Show', {:action => 'show', :id => listing.id} %></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => listing.id} %></td>
    <td><%= link_to 'Destroy', {:action => 'delete', :id => listing.id}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

