<h2>Listings</h2>




<% @listings.each do |listing| %>
      <div>
        <div><%= listing.category_id %></div>
        <div style="font-weight:bold;"><%= listing.title %></div>
        <div style="padding-top:10px"><%= listing.body %></div>

        <div><%= link_to 'Show Details', {:action => 'showlistings', :id => listing.id} %></div>
    </div>
<% end %>

  <div style="padding-top:10px;font-weight:bold;">
<%= link_to("Back",  {:controller => "categories", :action => 'listingindex'}) %>
      </div>