<h2>Listing Details</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @listing.category_id %>
</p>

<p>
  <b>Title:</b>
  <%= @listing.title %>
</p>

<p>
  <b>Body:</b>
  <%= @listing.body %>
</p>

<p>
  <b>Submissiondate:</b>
  <%= @listing.submissiondate %>
</p>

<p>
  <b>Email:</b>
  <%= @listing.email %>
</p>

<p>
  <b>Contactphone:</b>
  <%= @listing.contactphone %>
</p>

<p>
  <b>Status:</b>
  <%= @listing.status %>
</p>


<%= link_to 'Edit', {:action => 'edit', :id => @listing.id} %> |
<%= link_to 'Back', {:action => 'indexbyuser'} %>
